<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
<script>
    $(document).ready(function(){
         
        //now.receiveMessage = function(name, message){
          //$("#incomingMessages").append("<div class='message'><span class='username'>" + name + ":</span> " + message + "</div>");
          //$("#incomingMessages").scrollTop($("#incomingMessages")[0].scrollHeight);
        //}
        $(document).keypress(function(e){
            if (e.which == 13){
                $("#chatSendButton").click();
                return false;
            }
        });
        for  (i=0;i<20;i++){
            $("#incomingMessages").append("<div class='message'><span class='username'>" + "\b</span> " + "</div>");
        }
        $("#chatSendButton").click(function(){
          var message = $("#messageText1").val()
          if (message == ""){
            return
          }
          $("#incomingMessages").append("<div class='message'><span class='username'>" + 'YOU' + ":</span> " + message + "</div>");
          $("#incomingMessages").scrollTop($("#incomingMessages")[0].scrollHeight);
          $("#messageText1").val("");
          $.ajax({
              url: "ask",
              data: {message:message},
              beforeSend: function( xhr ) {
                xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
              }
            })
          .done(function( data ) {
            if ( console && console.log ) {
              console.log( "Sample of data:", data.slice( 0, 100 ) );
            }
            });
        });
         
      });

</script>
<style type="text/css">
.msgContainerDiv
      {
        overflow-y: scroll;
        height: 250px;
      }
</style>


</head>

<body>
  <div data-role="page" id="chatPage" data-role="page" data-theme="a">
 
        <!--div data-role="header">

        </div-->
 
        <div data-role="content"> 
        <div id="incomingMessages" name="incomingMessages" class="msgContainerDiv" ></div>
        <label for="messageText"><strong>Message:</strong></label>
        <textarea name="messageText" id="messageText1"></textarea>
 
        <fieldset class="ui-grid-a">
            <div class="ui-block-b"><button data-theme="a" id="chatSendButton" name="chatSendButton">Send</input>
        </fieldset>
        </div>
 
        <div data-role="footer">
            <h4>Echo</h4>
        </div>
    </div>

</body>

</html>